# Backend Insforge
NEXT_PUBLIC_INSFORGE_URL=https://xuksw7xc.us-east.insforge.app
NEXT_PUBLIC_INSFORGE_ANON_KEY=
NEXT_PUBLIC_INSFORGE_FUNCTIONS_URL=https://xuksw7xc.functions.insforge.app

# Server-only (NUNCA exponer al cliente). Usar en Server Actions / API Routes.
INSFORGE_API_KEY=

# Mapbox (opcional hasta tener token)
NEXT_PUBLIC_MAPBOX_TOKEN=
